# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User-specific files
*.VC.opendb
*.VC.db
/Boleias Partilhadas/BoleiasPartilhadas_VS.vcxproj.filters
/Boleias Partilhadas/BoleiasPartilhadas_VS.vcxproj
/Boleias Partilhadas/BoleiasPartilhadas_VS.sln
/Boleias Partilhadas/.vs/BoleiasPartilhadas_VS/v14/.suo
/Boleias Partilhadas/.vs/BoleiasPartilhadas_VS/v14
