# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Boleias Partilhadas/Boleias Partilhadas/Boleias Partilhadas.vcxproj
/Boleias Partilhadas/Boleias Partilhadas/Boleias Partilhadas.vcxproj.filters
/Boleias Partilhadas/.vs/Boleias Partilhadas/v14/.suo
/Boleias Partilhadas/Boleias Partilhadas.sln
/Boleias Partilhadas/Boleias Partilhadas.VC.db
/Boleias Partilhadas/Boleias Partilhadas.VC.VC.opendb
